<div class="landing">
    <div class="heading">
        <span> </span>
    </div><!-- /.heading -->
    <div class="buttons">
        <div class="hyperLinks">
            <div class="leftBtn">
                <a href="#">
                    Explore our Community
                </a>
            </div><!-- /.leftBtn -->
            <div class="rightBtn">
                <a href="#">
                    Join our Community
                </a>
            </div><!-- /.rightBtn -->
        </div><!-- /.hyperLinks -->
    </div><!-- /.buttons -->
</div><!-- /.landing -->
<div class="backGround">
    <video src="./../../../assets/images/Dr. Farming - 1.mp4" autoplay muted></video>
</div><!-- /.backGround -->
